{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table2.css' %}" />
{% endblock %}

{% block content %}
    <h1> {% trans "Order" %}</h1>

    <div class="row">
        <div class="col-md-7">
            <div class="bs-component">
                <h2>Detail</h2>
                {% if order_detail.status == constants.FULLY_PAID %}
                    <p>{% trans "This order has been paid on " %}{{ order_detail.last_status_change }}</p>
                    <p><a href="{% url 'address' order_detail.token %}">{% trans "View the bill" %}</a></p>
                {% elif order_detail.status == constants.CANCELLED %}
                    <p>{% trans "This order has been cancelled on " %}{{ order_detail.last_status_change }}</p>
                {% endif %}
                <div class="table-container">
                    <table class="table table-responsive paleblue">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th>{% trans "Price" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for price in prices %}
                                {% if forloop.first or forloop.last %}
                                    <tr class="odd">
                                {% else %}
                                    <tr class="even">
                                {% endif %}
                                    <td>{{ price.t_type }}</td>
                                    <td>{{ price.t_object }}</td>
                                    <td>{{ price.t_price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if order_detail.status == constants.NEW %}
                    <p class="text-info">{% trans 'By clicking on "Accept and Pay" you accept the' %}
                        <a href="{% url 'payment' order_detail.token %}">{% trans "selling contract" %}</a>
                        {% trans "and review your order information." %}
                    </p>
                    {% if order_detail.billing_address is None %}
                        <div class="btn btn-primary disabled">{% trans "Accept and pay" %}</div>
                    {% else %}
                        <a href="{% url 'payment' order_detail.token %}">
                            <div class="btn btn-primary">{% trans "Accept and pay" %}</div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <h2>{% trans "Billing address" %}</h2>
            {% if order_detail.billing_address is None %}
                <p class="text-danger">{% trans "You must have a billing address to complete your order" %}</p>
                <a href="{% url 'address' order_detail.token %}"><div class="btn btn-primary">Create the address</div></a>
            {% else %}
                <p>{{ order_detail.billing_address.billing_name }}</p>
                {% if order_detail.billing_address.company_name != "" %}
                    <p>{{ order_detail.billing_address.company_name }}</p>
                {% endif %}
                {% if order_detail.billing_address.street_address_1 != "" %}
                    <p>{{ order_detail.billing_address.street_address_1 }}</p>
                {% endif %}
                {% if order_detail.billing_address.street_address_2 != "" %}
                    <p>{{ order_detail.billing_address.street_address_2 }}</p>
                {% endif %}
                {% if order_detail.billing_address.city != "" %}
                    <p>{{ order_detail.billing_address.city }}</p>
                {% endif %}
                {% if order_detail.billing_address.city_area != "" %}
                    <p>{{ order_detail.billing_address.city_area }}</p>
                {% endif %}
                {% if order_detail.billing_address.postal_code != "" %}
                    <p>{{ order_detail.billing_address.postal_code }}</p>
                {% endif %}
                {% if order_detail.billing_address.country != "" %}
                    <p>{{ order_detail.billing_address.country.name }}</p>
                {% endif %}
                {% if order_detail.billing_address.country_area != "" %}
                    <p>{{ order_detail.billing_address.country_area }}</p>
                {% endif %}
                {% if order_detail.billing_address.phone != "" %}
                    <p>{{ order_detail.billing_address.phone }}</p>
                {% endif %}
                {% if order_detail.status == constants.NEW %}
                    <a href="{% url 'address' order_detail.token %}">
                        <div class="btn btn-primary">Edit the address</div>
                    </a>
                {% endif %}

            {% endif %}
        </div>
        <div class="col-md-2">
            <h2>Miscellious</h2>

            <p><b>{% trans "Status :" %}</b>{{ order_detail.get_status_display }}</p>
            <p><a href="{% url 'address' order_detail.token %}">{% trans "Selling contract(FR)" %}</a></p>
            <p><a href="{% url 'address' order_detail.token %}">{% trans "Selling contract(EN)" %}</a></p>
            {% if order_detail.status == constants.PAYMENT_PENDING or order_detail.status == constants.FULLY_PAID %}
                <p><a href="{% url 'invoice' order_detail.token 'french' %}">{% trans "Billing(FR)" %}</a></p>
                <p><a href="{% url 'invoice' order_detail.token 'english' %}">{% trans "Billing(EN)" %}</a></p>
            {% endif %}
            {% if order_detail.status == constants.NEW %}
                <hr>
                {% crispy form %}
                {{ form.media.js }}
            {% endif %}
        </div>
    </div>
{% endblock %}