{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table2.css' %}" />
{% endblock %}

{% block content %}
    <h1> {% trans "Order" %}</h1>

    <div class="row">
        <div class="col-md-7">
            <div class="bs-component">
                <h2>Detail</h2>
                {{ order_detail.token }}
                show order status and link to the billing if the order have been done
                <div class="table-container">
                    <table class="table table-responsive paleblue">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Object</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even">
                                    <td>Test1</td>
                                    <td>Test1</td>
                                    <td>Test1</td>
                            </tr>
                            <tr class="even">
                                    <td>Test2</td>
                                    <td>Test2</td>
                                    <td>Test2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <p> show the price </p>

                <p> button to pay</p>
                <p> link to the selling contract</p>
            </div>
        </div>
        <div class="col-md-3">
            <h2>{% trans "Billing address" %}</h2>
            test if billing address
            if not then warning
            <p>{{ order_detail.billing_address }}</p>
            {% if order_detail.billing_address.company_name != "" %}
                <p>{{ order_detail.billing_address.company_name }}</p>
            {% endif %}
            {% if order_detail.billing_address.street_address_1 != "" %}
                <p>{{ order_detail.billing_address.street_address_1 }}</p>
            {% endif %}
            {% if order_detail.billing_address.street_address_2 != "" %}
                <p>{{ order_detail.billing_address.street_address_2 }}</p>
            {% endif %}
            {% if order_detail.billing_address.city != "" %}
                <p>{{ order_detail.billing_address.city }}</p>
            {% endif %}
            {% if order_detail.billing_address.city_area != "" %}
                <p>{{ order_detail.billing_address.city_area }}</p>
            {% endif %}
            {% if order_detail.billing_address.postal_code != "" %}
                <p>{{ order_detail.billing_address.postal_code }}</p>
            {% endif %}
            {% if order_detail.billing_address.country != "" %}
                <p>{{ order_detail.billing_address.country.name }}</p>
            {% endif %}
            {% if order_detail.billing_address.country_area != "" %}
                <p>{{ order_detail.billing_address.country_area }}</p>
            {% endif %}
            {% if order_detail.billing_address.phone != "" %}
                <p>{{ order_detail.billing_address.phone }}</p>
            {% endif %}
            <p> buton to edit the address</p>
        </div>
        <div class="col-md-2">
            <h2>Miscellious</h2>
            <p> Show order status </p>
            <p>link to selling contract</p>
            <p>link to the billing</p>
            {% crispy form %}
            {{ form.media.js }}
        </div>
    </div>
{% endblock %}