{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}


{% block content %}
    <h1>{% trans "F.A.Q." %}</h1>
    {% if topic_list %}
    <ul>
        {% for topic in topic_list %}
            <li><a href="#{{ topic.pk }}"><p>{{ topic.name }}</p></a></li>
        {% endfor %}
    </ul>
    {% for topic in topic_list %}
        <div>
            <a id="{{ topic.pk }}"><h2>{{ topic.name }}</h2></a>

            <ul>
                {% for question in topic.qanda_set.all %}
                    <li>{{ question.question }} <br /> {{ question.answer }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% else %}
        <p>No topics have been created.</p>
    {% endif %}
{% endblock content%}