{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}


{% block content %}
    <h1>{% trans "F.A.Q." %}</h1>
    {% if topic_list %}
    <ol>
        {% for topic in topic_list %}
            <h4><li><a href="#{{ topic.slug }}">{{ topic.name }}</a></li></h4>
            <ul>
            {% for question in topic.qanda_set.all %}
                <li><a href="#{{ question.slug }}">{{ question.question }}</a></li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ol>
    {% for topic in topic_list %}
        <div>
            <a id="{{ topic.slug }}"><h2>{{ topic.name }}</h2></a>

            <ul>
                {% for question in topic.qanda_set.all %}
                    <li><a id="{{ question.slug }}">{{ question.question }}</a> <br /> {{ question.answer }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% else %}
        <p>No topics have been created.</p>
    {% endif %}
{% endblock content%}