{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table2.css' %}" />
{% endblock %}

{% block content %}
    <h1> {% trans "check user PHD" %}</h1>
    <img src="{% url 'phd_image' user_detail.pk %}">
    <h5><strong>{% trans "Billing name" %}</strong></h5>
            <p class="text-indent">{{ address_name }}</p>

    <div class="row">
        <hr>
        {% crispy form %}
        {{ form.media.js }}
    </div>
{% endblock %}