{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>{% trans "Comment" %}: {{ comment_detail.title }}</h1>

    <div class="row">
        <div class="col-md-8">
            <div class="bs-component">
                <blockquote>
                    <p>{{ comment_detail.content|linebreaks }}</p>
                    <small>{{ comment_detail.author_fake_pseudo|default:comment_detail.author }}</small>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4">
            <h5><strong>{% trans "Creation date" %}</strong></h5>
            <p class="text-indent">{{ comment_detail.creation_date }}</p>
            <h5><strong>{% trans "Comment on" %}</strong></h5>
            <p class="text-indent">{{ comment_detail.get_comment_type_display }}</p>
            <h5><strong>{% trans "Licence" %}</strong></h5>
            <p class="text-indent">{{ comment_detail.licence }}</p>
            <h5><strong>{% trans "Status" %}</strong></h5>
            <p class="text-indent">{{ comment_detail.get_validated_display }}</p>
            {% if comment_detail.validated == constants.VALIDATE %}
                <h5><strong>{% trans "Seriousness" %}</strong></h5>
                <p class="text-indent">{{ comment_detail.get_seriousness_display }}</p>
                <h5><strong>{% trans "Corrected" %}</strong></h5>
                <p class="text-indent">{{ comment_detail.corrected|yesno|capfirst }}</p>
            {% endif %}
        </div>
    </div>

    <hr>
    <h2>{% trans "Evaluations" %}:</h2>
    {% for review in reviews %}
        {% if review.valid %}
            {% if review.corrected %}
                <div class="panel panel-success">
            {% else %}
                <div class="panel panel-warning">
            {% endif %}
        {% else %}
            <div class="panel panel-default">
        {% endif %}
            <div class="panel-body">
                {{ review.reason_validation|linebreaks }}
                <hr>
                {{ review.reason_validation|linebreaks }}
            </div>
        </div>
    {% empty %}
        {% trans "No evaluations yet" %}
    {% endfor %}

    <!-- special if -->


    {% if review_state  == "to_review_validation" and publication_status >= constants.PEER_REVIEW %}
        <hr>
        <h2>{% trans "Is this comment valide ?"%}: </h2>
        {% crispy form_review_validation %}
        {{ form.media.js }}
    {% elif review_state == "to_review_correction" and publication_status == VALIDATION %}
        <hr>
        <h2>{% trans "Is this comment corrected"%}: </h2>
        {% crispy correction %}
        {{ form.media.js }}
    {% endif %}

{% endblock %}