{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>{% trans "Publication" %}: {{ publication_detail.title }}</h1>

    <!-- different with the status of the publication and if there is still validated comments -->
    <div class="alert alert-dismissible {{ alert.class }}">
        <button class="close" type="button" data-dismiss="alert">x</button>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.message }}</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="bs-component">
                <blockquote>
                    <p>{{ publication_detail.resume|linebreaks }}</p>
                    <small>{{ publication_detail.editor.get_full_name }}</small>
                </blockquote>
                <!-- and good publication in evaluation and user in phd-->
                {% if user.phd and not user in publication_detail.get_all_authors %}
                    {% if perms.publications.can_add_reviewer and perms.publications.can_change_reviewer and reviewer_registration %}
                        {% if is_reviewer %}
                            <p><a href="{% url 'leave_reviewer' object.pk %}"> {% trans "Leave the reviewers" %}</a></p>
                        {% else %}
                            <p><a href="{% url 'become_reviewer' object.pk %}"> {% trans "Join the reviewers" %}</a></p>
                        {% endif %}
                    {% endif %}
                    {% if perms.publications.can_add_estimated_impact_factor and publication_detail.status == constants.EVALUATION %}
                        {% if not evaluated %}
                            <h5><strong> {% trans "Evaluate" %} </strong></h5>
                            {% crispy form_eif %}
                        {% else %}
                            {% trans "You already evaluated this publication" %}.
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if perms.publications.can_change_publication and publication_detail.status == constants.CORRECTION and is_editor%}
                    <!-- to do as a link-->
                    <p><a href="{% url 'correct_publication' object.pk %}">{% trans "Correct " %}</a>
                    {% trans "or " %}
                    <a href="{% url 'abort_publication' object.pk %}">{% trans "abort " %}</a>
                    {% trans "this publication" %}.</p>
                {% endif %}

                <!-- participate at the rewiew in add_peer, user scientist with phd and not in author-->
            </div>
        </div>
        <div class="col-md-4">
            <h5><strong>{% trans "Creation date" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.creation_date }}</p>
            <h5><strong>{% trans "Sciences" %}</strong></h5>
            <p class="text-indent">{% for science in publication_detail.sciences.all %}
                    {% if forloop.last %}
                        {{ science }}
                    {% else %}
                        {{ science }},
                    {% endif %}
                {% endfor %}</p>
            <h5><strong>{% trans "Authors" %}</strong></h5>
            <p class="text-indent">
                {% for author in publication_detail.get_all_authors %}
                    {% if forloop.last %}
                        {{ author.get_full_name }}
                    {% else %}
                        {{ author.get_full_name }},
                    {% endif %}
                {% endfor %}</p>
            <h5><strong>{% trans "Status" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.get_status_display }}</p>
            <h5><strong>{% trans "Downloads" %}</strong></h5>
            <p class="text-indent">
                <a href="{% url 'download_publication' 'pdf_creation' object.pk %}">{% trans "PDF at creation" %}</a>
            </p>
            <p class="text-indent">
                <a href="{% url 'download_publication' 'source_creation' object.pk %}">{% trans "Source at creation" %}</a>
            </p>
            {% if publication_detail.status >= constants.VALIDATION %}
                <p class="text-indent">
                    <a href="{% url 'download_publication' 'pdf_final' object.pk %}">{% trans "PDF after correction" %}</a>
                </p>
                <p class="text-indent">
                    <a href="{% url 'download_publication' 'source_final' object.pk %}">{% trans "Source after correction" %}</a>
                </p>
                <h5><strong>{% trans "Publication score" %}</strong></h5>
                <p class="text-indent">{{ publication_detail.publication_score }}</p>
            {% endif %}
            {% if publication_detail.status >= constants.PUBLISHED %}
                <h5><strong>{% trans "Estimated impact factor" %}</strong></h5>
                <p class="text-indent">{{ publication_detail.estimated_impact_factor}}</p>
            {% endif %}
            <h5><strong>{% trans "Licence" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.licence }}</p>
            <!--dropdown button with download-->
        </div>
    </div>


    <hr>
    <h2>{% trans "Comments" %} :</h2>
    {% for comment in comments %}
<!-- color faded not validate, validated blue, if publication has been corrected then if the comment is
corrected green, if not red, if comment after the validation and valid then orange-->
        {% if comment.validated == constants.DISMISS %}
            <div class="panel panel-default">
        {% elif comment.validated == constants.IN_PROGRESS %}
            <div class="panel panel-primary">
        {% elif comment.corrected %}
            <div class="panel panel-success">
        {% elif comment.comment_type == constants.FORM %}
            <div class="panel panel-info">
        {% elif publication_detail.status >= constants.EVALUATION %}
            <div class="panel panel-warning">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    {{ comment.title }} {% trans " by "%} {{ comment.author_fake_pseudo|default:comment.author }}
                    {% trans " on the " %} {{ comment.get_comment_type_display|lower }}
                </div>
                <div class="panel-title pull-right">
                    {{ comment.get_seriousness_display|default:comment.get_validated_display}}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <p> {{ comment.content|linebreaks }}</p>
                <div class="panel-title pull-left">
                    {{ comment.licence }} ({{ comment.creation_date }})
                </div>
                <div class="panel-title pull-right">
                    <a href="{% url 'comment_view' comment.pk %}">{% trans "Evaluation of the comment" %}</a>
                </div>
            </div>
        </div>
    {% empty %}
        {% trans "No comments yet" %}
    {% endfor %}

    <hr>
    <h2>{% trans "Send a comment"%}: </h2>
    {% if user.is_authenticated and publication_detail.status >= constants.ADDING_PEER %}
        <p class="text-info">{% blocktrans %} A comment must describe only one error.
                                              If you spotted more than one, please do more than one comment.
                             {% endblocktrans %} </p>
        {% crispy form_comment %}
        {{ form.media.js }}
    {% else %}
        <p class="text_info">{% trans "Only payed publications can receive comments." %}</p>
    {% endif %}

{% endblock %}