{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>{% trans "Publication" %} : {{ publication_detail.title }}</h1>

    <!-- different with the status of the publication and if there is still validated comments -->
    <div class="alert alert-dismissible alert-warning">
        <button class="close" type="button" data-dismiss="alert">x</button>
        <h4>Test</h4>
        <p>Just for test</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="bs-component">
                <blockquote>
                    <p>{{ publication_detail.resume }}</p>
                    <small>{{ publication_detail.editor }}</small>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4">
            <p>{{ publication_detail.creation_date }}</p>
            <!--<p>{{ publication_detail.payment_date }}</p>-->
            <p>{{ publication_detail.validation_date }}</p>
            <p>{% for science in publication_detail.sciences.all %}
                    {% if forloop.last %}
                        {{ science }}
                    {% else %}
                        {{ science }},
                    {% endif %}
                {% endfor %}</p>
            <p>{{ publication_detail.publication_score }}</p>
            <p>{{ publication_detail.estimated_impact_factor}}</p>
            <p>{{ publication_detail.first_author.get_full_name}}</p>
            <p>{{ publication_detail.authors.all }}</p>
            <p>{{ publication_detail.last_author }}</p>
            <p>{{ publication_detail.get_status_display }}</p>
            <p>{{ publication_detail.licence }}</p>
            <!--dropdown button with download-->
        </div>
    </div>

    <hr>

    <h2>Comments :</h2>
    {% for comment in comments %}
<!-- color faded not validate, validated blue, if publication has been corrected then if the comment is
corrected green, if not red, if comment after the validation and valid then orange-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    {{ comment.title }} {% trans " by "%} {{ comment.author_fake_pseudo|default:comment.author }}
                    {% trans " on the " %} {{ comment.comment_type }}
                </div>
                <div class="panel-title pull-right">
                    {{ comment.seriousness|default:"Not validated"}}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                {{ comment.content}}
            </div>
            <div class="panel-footer">
                <div class="panel-title pull-left">
                    {{ comment.licence }} ({{ comment.creation_date }})
                </div>
                <div class="panel-title pull-right">
                    Link to the comment evaluation (only for the reviewers)
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endfor %}


    <hr>
    <h2>Send a comment :</h2>
<!--show the form only if the user is auth-->
    {% crispy form %}
    {{ form.media.js }}

{% endblock %}