{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}


{% block content %}
    <h1>{% trans "Publication" %} : {{ publication_detail.title }}</h1>

    <!-- different with the status of the publication and if there is still validated comments -->
    <div class="alert alert-dismissible {{ alert.class }}">
        <button class="close" type="button" data-dismiss="alert">x</button>
        <h4>{{ alert.title }}</h4>
        <p>{{ alert.message }}</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="bs-component">
                <blockquote>
                    <p>{{ publication_detail.resume }}</p>
                    <small>{{ publication_detail.editor.get_full_name }}</small>
                </blockquote>
                {% if perms.publications.estimated_impact_factor and not user in publication_detail.get_all_authors %}
                    <p> if in evaluation and (permission to evaluate then evaluate form) ADD FRAKING URL OR FORM</p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <h5><strong>{% trans "Creation date" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.creation_date }}</p>
            <h5><strong>{% trans "Sciences" %}</strong></h5>
            <p class="text-indent">{% for science in publication_detail.sciences.all %}
                    {% if forloop.last %}
                        {{ science }}
                    {% else %}
                        {{ science }},
                    {% endif %}
                {% endfor %}</p>
            <h5><strong>{% trans "Authors" %}</strong></h5>
            <p class="text-indent">
                {% for author in publication_detail.get_all_authors %}
                    {% if forloop.last %}
                        {{ author.get_full_name }}
                    {% else %}
                        {{ author.get_full_name }},
                    {% endif %}
                {% endfor %}</p>
            <h5><strong>{% trans "Status" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.get_status_display }}</p>
            <!--other information to show if function of the status -->
            <h5><strong>{% trans "Downloads" %}</strong></h5>
            <p class="text-indent">
                <a href="{% url 'download_publication' 'pdf_creation' object.pk %}">{% trans "PDF at creation" %}</a>
            </p>
            <p class="text-indent">
                <a href="{% url 'download_publication' 'source_creation' object.pk %}">{% trans "Source at creation" %}</a>
            </p>
            {% if publication_detail.status >= 6 %}
                <p class="text-indent">
                    <a href="{% url 'download_publication' 'pdf_final' object.pk %}">{% trans "PDF after correction" %}</a>
                </p>
                <p class="text-indent">
                    <a href="{% url 'download_publication' 'source_final' object.pk %}">{% trans "Source after correction" %}</a>
                </p>
                <h5><strong>{% trans "Publication score" %}</strong></h5>
                <p class="text-indent">{{ publication_detail.publication_score }}</p>
            {% endif %}
            {% if publication_detail.status >= 7 %}
                <h5><strong>{% trans "Estimated impact factor" %}</strong></h5>
                <p class="text-indent">{{ publication_detail.estimated_impact_factor}}</p>
            {% endif %}
            <h5><strong>{% trans "Licence" %}</strong></h5>
            <p class="text-indent">{{ publication_detail.licence }}</p>
            <!--dropdown button with download-->
        </div>
    </div>

    <hr>

    <h2>Comments :</h2>
    {% for comment in comments %}
<!-- color faded not validate, validated blue, if publication has been corrected then if the comment is
corrected green, if not red, if comment after the validation and valid then orange-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-left">
                    {{ comment.title }} {% trans " by "%} {{ comment.author_fake_pseudo|default:comment.author }}
                    {% trans " on the " %} {{ comment.comment_type }}
                </div>
                <div class="panel-title pull-right">
                    {{ comment.seriousness|default:"Not validated"}}
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">
                <p> {{ comment.content}}</p>
                <div class="panel-title pull-left">
                    {{ comment.licence }} ({{ comment.creation_date }})
                </div>
                {% if is_reviewer %}
                    <div class="panel-title pull-right">
                        Link to the comment evaluation (only for the reviewers)
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <hr>
        <h2>Send a comment :</h2>
        {% crispy form %}
        {{ form.media.js }}
    {% endif %}

{% endblock %}