{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}
    <h1>{% trans "Legal notices" %}</h1>
    <h2>{% trans "Legal information" %}</h2>
    {% with company_type="EURL" capital="500. €" %}
        <p>{% trans "Company type" %} : {{ company_type }}<br>
            {% trans "Capital" %} : {{ capital }}<br>
            {% trans "Licence number" %} : <br>
            {% trans "SIRET" %} : <br>
            {% trans "Head office" %} : <br>
            {% trans "Vat/Tax number" %} : <br>
            {% trans "Website manager" %} : <br>
            {% trans "Publication manager" %} : <br>
            {% trans "Website host" %} : <br>
            {% trans "Email" %} : <br>
            {% trans "Phone number" %} : <br>
            {% trans "Available from monday to friday, 9h-12h and 14h-17h (UTC+1)" %}

        </p>
    {% endwith %}

    <h2>{% trans "intellectual Property" %}</h2>
    <p>
        {% blocktrans %}
            We would like to inform you any reproduction or partial representation by any means
            whatsover of this site, the logos used, and the images that may appear therein
            are subjected to the rules of the license specific to the content.  Any disregard of the
            license would constitute to an infringement sanctioned by the articles L 335-2 and the
            following of the Code de la propriété intellectuelle.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Protection of personal data" %}</h2>
    {% with company_name="TEMP_COMPANY" website="TEMP_WEBSITE" %}
        <p>
            {{ website }}
            {% blocktrans %}
                collects information about you when you create your Account. Information with an asterisk is mandatory.
                 This information enables us to carry out operations relating to customer management,
                 operations relating to prospecting, preparation of business statistics,
                 management of requests for access rights, correction and opposition,
                 management of bills and litigation.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                We are committed to ensuring the security of your personal data through strict procedures within our company.
                 For the data collected "online", the communications on the client part are encrypted between
                 the position of the user and our servers (secure zone HTTPS).
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                In accordance with the provisions of the Loi Informatique et Libertés of 6 January 1978
                (as amended by the law of 6 August 2004 on the protection of individuals with regard to the processing of personal data)
                you have right to access, correct and delete your personal data collected.
                These rights can be exercised by visiting the Account / Edit profile page.
            {% endblocktrans %}
        </p>

    <h2>{% trans "Mediation" %}</h2>
    <p>
        {% blocktrans %}
            In accordance with Article L156-1 of the Consumer Code, the consumer is informed of the possibility
             of using a conventional mediation procedure or any other alternative means of settling disputes
             in the case of a dispute. The consumer is also informed of the existence of the platform put online by
             the European Commission which aims to collect any complaints resulting from an online purchase
             from European consumers and then forward the cases received to the competent national mediators:
        {% endblocktrans %}
        <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
    </p>
    {% endwith %}

{% endblock content %}