{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}

{% with company_name="tmp" website="tmp" %}
    <h1> {% trans "Terms of Service" %}</h1>
    <h2> {% trans "Terms" %} </h2>
    <p>
        {% trans "By accessing the website at " %}{{ website }}
        {% blocktrans %}
            , you are agreeing to be bound by these terms of service,
            all applicable laws and regulations, and agree that you are responsible
            for compliance with any applicable local laws. If you do not agree with any of these terms,
            you are prohibited from using or accessing this site. The materials contained in this website
            are protected by applicable copyright and trademark law.
        {% endblocktrans %}
    </p>

    <h2>{% trans "intellectual Property" %}</h2>
    <p>
        {% blocktrans %}
            We would like to inform you any reproduction or partial representation by any means
            whatsover of this site, the logos used, and the images that may appear therein
            are subjected to the rules of the license specific to the content.  Any disrespect of the
            license would constitute to an infringement sanctioned by the articles L 335-2 and the
            following of the Code de la propriété intellectuelle.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Disclamer" %}</h2>
    <p>
        {% trans "The materials on" %} {{company_name}}
        {% trans "'s website are provided on an 'as is' basis." %} {{company_name}}
        {% blocktrans %}
            makes no warranties, expressed or implied, and hereby disclaims and negates all other
            warranties including, without limitation, implied warranties or conditions
            of merchantability, fitness for a particular purpose, or non-infringement of
            intellectual property or other violation of rights.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "Further" %}, {{company_name}}
        {% blocktrans %}
            does not warrant or make any representations concerning the accuracy, likely results,
            or reliability of the use of the materials on its website or otherwise relating to such
            materials or on any sites linked to this site.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Limitations" %}</h2>
    <p>
        {% trans "In no event shall" %} {{company_name}}
        {% blocktrans %}
            or its suppliers be liable for any damages (including, without limitation,
            damages for loss of data or profit, or due to business interruption)
            arising out of the use or inability to use the materials on
        {% endblocktrans %}
        {{company_name}}{% trans "'s website, even if" %} {{company_name}} {% trans "or a" %} {{company_name}}
        {% blocktrans %}
            authorized representative has been notified orally or in writing of the possibility
            of such damage. Because some jurisdictions do not allow limitations on implied warranties,
            or limitations of liability for consequential or incidental damages,
            these limitations may not apply to you.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Accuracy of materials" %}</h2>
    <p>
        {% trans "The materials appearing on" %} {{company_name}}
        {% trans "'s website could include technical, typographical, or photographic errors." %}
         {{company_name}} {% trans "does not warrant that any of the materials on its website are accurate, complete or current." %}
         {{company_name}} {% trans "may make changes to the materials contained on its website at any time without notice. However" %}
         {{company_name}} {% trans "does not make any commitment to update the materials." %}
    </p>

    <h2>{% trans "Links" %}</h2>
    <p>
        {{company_name}} {% blocktrans %}
            has not reviewed all of the sites linked to its website and is not responsible
            for the contents of any such linked site. The inclusion of any link does not imply endorsement by
        {% endblocktrans %}
         {{company_name}} {% trans "of the site. Use of any such linked website is at the user's own risk." %}
    </p>

    <h2>{% trans "Modifications" %}</h2>
    <p>
        {{company_name}} {% blocktrans %}
        may revise these terms of service for its website at any time without notice.
        By using this website you are agreeing to be bound by the then current version
        of these terms of service.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Governing Law" %}</h2>
    <p>
        {% blocktrans %}
            These terms and conditions are governed by and construed in accordance with the laws of France
            and you irrevocably submit to the exclusive jurisdiction of the courts in that country.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Protection of personal data" %}</h2>
    <p>
        {{ website }}
        {% blocktrans %}
            collects information about you when you create your Account. Information with an asterisk is mandatory.
             These informations enables us to carry out operations relating to customer management,
             operations relating to prospecting, preparation of business statistics,
             management of requests for access rights,
             management of bills and litigation.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
                We are committed to ensuring the security of your personal data through strict procedures within our company.
                 For the data collected "online", the communications on the client part are encrypted between
                 the position of the user and our servers (secure zone HTTPS).
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            In accordance with the provisions of the Loi Informatique et Libertés of 6 January 1978
             (as amended by the law of 6 August 2004 on the protection of individuals with regard to the processing of personal data)
             you have right to access, correct and delete your personal data collected.
             These rights can be exercised by visiting the Account / Edit profile page.
        {% endblocktrans %}
    </p>
{% endwith %}

{% endblock content %}